################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Starter Files/ImageGallery/.vs/ImageGallery/v15
/.vs/SecuringAspNetCore2WithOAuth2AndOIDC/v15
/.vs
