body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


.defaultButton {
    width: 100px;
    height: 50px;
}

.bottomMarginDefault {
    margin-bottom: 30px;
}

.bottomMarginSmall {
    margin-bottom: 15px;
}

.rightMarginDefault {
    margin-right: 30px;
}

.leftMarginDefault {
    margin-left: 30px;
}

.leftMarginSmaller {
    margin-left: 15px;
}

.thumbnailImage {
    max-width: 400px;
    width: 100%;
    height: auto;
}