@model ImageGallery.Client.ViewModels.OrderFrameViewModel

    <div class="container">
        <div class="h3 bottomMarginDefault">Order a framed version of your favorite picture.</div>

        <div class="text bottomMarginSmall">We've got this address on record for you:</div>

        <div class="text text-info bottomMarginSmall">@Model.Address</div>

        <div class="text">If this isn't correct, please contact us.</div>
    </div>
